.aboutMe {
    padding: 150px;
    
}



* {
    animation: loading 0.7s;
}

.aboutMe h1 {
    font-size: 50px;
    font-weight: bold;
    color: #27ae60;
 
    margin-bottom: 10px;
}

.aboutMe h4 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(91, 80, 80);
    text-transform: uppercase;
    opacity: 0.90
}

.aboutMe p {
    font-size: 18px;
    color: rgb(91, 80, 80);
    opacity: 0.90;
    line-height: 1.8;
    width: 470px;
    text-overflow: clip;
}



.gif {
    display: block;
    margin-left: auto;
    position: absolute;
    top: 110px;
    width: 320px;
    left: 60%;
}


hr {
    display: block;
    border: 2px solid #27ae60;
    border-radius: 3px;
    width: 70%;
    opacity: 0.90;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}


.technologies {
    margin-top: 2%;
}

.technologies h4 {
    text-align: center;
    color: rgb(91, 80, 80);
    text-transform: uppercase;
    opacity: 0.90
}

.percent {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    color: #27ae60;
    margin-top: 20px;
    padding: 10px;
    border-radius: 9px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background: rgb(249, 249, 249);
    cursor: default;

    
}


.pr {
    display: flex;
    width: 200px;
    height: 10px;
    border-radius: 10px;
    background: #27ae60;
    outline: 3px solid #27ae60;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
}

.pr p {
    z-index: 1;
    font-size: 20px;
    margin-right: 140%;
    color: BLACK;
    
}

.social {
    margin-top: 2%;
}

.social h4 {
    text-align: center;
    color: rgb(91, 80, 80);
    text-transform: uppercase;
    opacity: 0.90   
}

.sclinks  a{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 24px; 
    margin: 10px;
    float: left;
    transition: .4s;
}

.nfound {
    margin: 22px;
    
}

.st {
    color:rgb(91, 80, 80);
}


.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 1 5%;
  }

  .footer {
    margin-bottom: auto;
    width: 100%;        
    background: #27ae60;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;

  }



  .prin {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: red;
    margin-left: auto;
    margin-right: auto;
}
  .footer p {

  }

    .footer a {
        transition: .4s;
        color: rgb(111, 255, 106);
        text-decoration: none;
    }

    .footer a:hover {
        color: rgb(202, 255, 200);
        text-decoration: underline;
    }

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




@media only screen and (max-width: 825px) {
    .gif {
        display: none;
    }
    
    .aboutMe {
        padding: 10px;
        margin-top: 30px;
    }

    .aboutMe p {
        width: 365px;
    }


    .footer {
     
        width: 100%;
    }

    .technologies {
        margin-top: 15%;
    }


    .pr {
        display: none;
    }

    .percent {
        display: block;
        text-align: center;
    }

    .wx6 {
        margin-top: 16%;
    }

    .wx5 {
        margin-top: 13%;
    }
  }



  /* DARK MODE */

  body {
    transition: .7s;
  }


  body.dark {
    background: #1e2923;
    color: white;
    transition: .7s;
    
  } 
    .dark .percent {
        background: #2c3b33;
    }
    .dark .pr {
        background: #2c3b33;
    }
    .dark .pr p {
        color: white;
    }
    .dark .prin {
        background: #2c3b33;
    }
   

    .dark h4 {
        color: white;
    }
    .dark p {
        color: white;
    }
